/**
 * @author Ikaros Kappler
 * @date 2013-12-12
 **/

body {
   background-color: #f8f8f8;
   font-family: Monospace;
   font-size: 10pt;
}
html,body{
    height:100%;
    margin:0;
    position:absolute;
    width:100%;
}
button {
   font-family: Monospace;
   font-size: 10pt;
}

.tooltip {
    display: inline;
    position: relative;
    font-size: 10pt;
 }

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    font-size: 10pt;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    width: 220px;
    z-index: 98;
}

tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    font-size: 10pt;
    left: 50%;
    position: absolute;
    z-index: 99;
}

br{
    float: clear;
}
#container{
    height:100%;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    width:100%;
}
/* changing the canvas size affects polygon proportions
#girih_canvas {
    height:100%;
    padding:0;
    margin:0;
    width:80%;
}
*/
#controlPane {
    height:100%;
    margin-right:20pt;
    overflow:scroll;
    position: absolute;
    right: 0;
    top: 0;
    width:240pt;
}
#panAndZoom{
    height: 70pt;
    position:relative;
    width:100%;
}
#directionKeys{
    position:relative;
    float: left;
    height: 65pt;
    width: 65pt;
}
#zoomKeys{
    float: left;
    height: 65pt;
    position:relative;
    width: 70pt;
}
#rotationKeys{
    height: 50pt;
    position:relative;
    width: 140pt;
}
button {
    font-family:Arial, sans-serif;
    font-size:1.2em;
    font-weight:bold;
    margin: 3pt;
    text-align:center;
}
.fileInput{
    font-family:Arial, sans-serif;
    font-size:1.2em;
    font-weight:bold;
    margin-right:6pt;
}
#upKey{
    left:30px;
    position:absolute;
    top:0;
}
#downKey{
    bottom:0;
    left:30px;
    position:absolute;
}
#rightKey{
    position:absolute;
    right:0;
    top:30px;
}
#leftKey{
    left:0;
    position:absolute;
    top:30px;
}
#rotateRightKey{
}
#rotateLeftKey{
}
#rotateAll{
}
#exportSVGKey {
    float:left;
}
#exportTilesKey {
    float:left;
}
